<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="ABC,English online," />
    <meta name="description" content="ABC English Online Education Platform, ABC在线英语" />
    <title>ABC在线英语首页</title>
    <link href="~/Content/commen.css" rel="stylesheet" />
    <link href="~/static/css/index.css" rel="stylesheet" />
    <link href="~/static/css/login.css" rel="stylesheet" />
    <link href="~/assets/css/choosepage.css" rel="stylesheet" />
    <link href="~/assets/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <link href="~/assets/young/css/index.css" rel="stylesheet" />
    <link href="~/Content/young/index.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="contach-info">
                <a class="email"><i></i>abc_online@abc.com.cn</a>
                <a class="tel"><i></i>400-661-9888</a>
            </div>
            <div class="logo">
                <a href="@Url.Action("Index")"></a>
                <div class="logo-bg"></div>
            </div>
            <div class="login">
                <a class="xinlang">
                    <i></i>
                    <div class="ewm">
                        <img src="@Url.Content("~/assets/image/twodimensioncode.jpg")" />
                        <div class="appDown_title">扫码关注</div>
                    </div>
                </a>
                <a class="weixin">
                    <i></i>
                    <div class="ewm">
                        <img src="@Url.Content("~/assets/image/twodimensioncode.jpg")" />
                        <div class="appDown_title">关注Abc微信</div>
                    </div>
                </a>
            </div>
            <div class="child">
                <a href="@Url.Action("Index","Home")">切换至成人版</a>
            </div>
            <div class="get">
                <a class="exit">登录</a>
                <a class="enroll">注册</a>
            </div>
            @*<div class="set">
                    <span class="span">个人中心&nbsp;,&nbsp;</span>
                    <a class="exit">退出</a>
                </div>*@
            <div class="user hidden" style="float: right; margin: 0 20px;"><span></span><span></span></div>
        </div>
    </div>


    <iframe name="ContentFrame" id="ContentFrame" style="min-width: 1140px; width: 100%; height: 4600px; border: 0px;" scrolling="no" frameborder="0" src="@Url.Action("Home", "Young")"
            onload="ifameLoaded()"></iframe>



    <!--mask begin-->
    <div id="login" style="display: none;">
        <div>
            <img class="logo" src="~/Content/image/logo.png" />
        </div>
        <div class="login login-popup">
            <div id="Form1" class="login_form">
                <div class="mask-input">
                    <input id="login_name" name="UserName" type="text" placeholder="请输入您的手机号码" />
                </div>
                <div class="mask-input">
                    <input id="login_pwd" type="password" placeholder="密码" />
                </div>
                <div class="mask-input">
                    <div class="frt">
                        <input id="login_auto" class="autologin" type="checkbox" />
                        <label for="login_auto">自动登录</label>
                    </div>
                </div>
                <button method="login" id="login_btn" class="mask-input" style="width: 300px;">登录</button>
                <div class="mask-input">
                    <a style="color: #c7151d" href="javascript:searchPassword();">忘记密码</a>
                </div>
            </div>
            <div style="margin: 0 auto; text-align: center; margin-top: 20px;">
                还不是会员？<a id="login_register" style="color: #c7151d">注册</a>
            </div>
        </div>
        <div class="register login-popup" id="Form2">
            <div class="login_form">
                <div class="mask-input">
                    <input id="reg_" type="text" name="UserName" placeholder="请输入您的手机号码" />
                </div>
                <div class="mask-input">
                    <input id="reg_pwd" type="password" placeholder="密码" />
                </div>
                <div class="mask-input" style=" margin 0 20px; line-height inherit; height auto;">
                    请输入6-14位数字或英文的密码，不含空格
                </div>
                <div class="mask-input">
                    <input id="reg_pwd2" type="password" placeholder="请您再次输入密码" />
                </div>
                <div class="mask-input">
                    <input type="text" name="Validate" style="padding-left: 10px; float: left; height: 40px; width: 150px; border: 1px solid #ddd;" placeholder="请填写手机验证码">
                    <button method="sendValid" data="1" style="width: 150px; height: 40px;">获取验证码</button>
                </div>
                <button method="register" style="width: 300px;">注册</button>
            </div>
            <div style="margin: 0 auto; text-align: center; margin-top: 20px;">
                已经拥有账户？<a id="register_login" style="color: #c7151d">登陆</a>
            </div>
        </div>
    </div>
    <!--mask end-->

    <div class="mask searchPassword hidden layui-layer-wrap login-popup" style="display: none; padding:  30px;">
        <div style="display: block; padding: 30px; margin: auto;">
            <img src="~/Content/image/logo.png" style="margin: auto; display: block;">
        </div>
        <div class="login_form">
            <div style="width: 100%; height: 10px"></div>
            <div class="mask-input">
                <input type="text" name="UserName" placeholder="请填写您的手机号码">
            </div>
            <div class="mask-input">
                <input type="password" name="Pwd" placeholder="设置新密码">
            </div>
            <div class="mask-input">
                <input type="password" name="Pwd" placeholder="请您再次输入密码">
            </div>
            <div class="mask-input">
                <input type="text" name="Validate" style="padding-left: 10px; float: left; height: 40px; width: 150px; border: 1px solid #ddd;" placeholder="请填写手机验证码">
                <button method="sendValid" data="2" style="width: 150px; height: 40px;">获取验证码</button>
            </div>
            <button method="modifyPassword">修改密码</button>
        </div>

    </div>


    <div class="footer">
        <div class="container">
            <i class="footer-icon"></i>
            <p class="copy">
                COPYRIGHT &copy; 2014-9-1 ABC.COM.CN, ALL RIGHTS RESERVED<br>京ICP备12029524号-1 京ICP证130137号
                京公网安备11010802012731号
            </p>
            <div class="logo-intro">
                <div class="footer-logo"></div>
            </div>
        </div>
    </div>


    <div class="fixed-register" style="display: none;">
        <div class="container">
            <div class="tips">立即注册，领取价值1000元新生课程礼包</div>
            <div class="buttons">立即领取</div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/abc/base.es5.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/abc/common.es5.min.js"></script>
    <script src="~/Scripts/abc/index.es5.js"></script>

    <script src="~/Scripts/abc/easemobIM.js"></script>
    <script src="~/Scripts/easemob.js"></script>

    <script>
        function ifameLoaded() {
            var youndHomeUrl = '@Url.Action("Home","Young")';
            var adultHomeUrl = '@Url.Action("Home","Home")';
            console.log($('.nav_box li:first a', $('#ContentFrame').contents()).attr('href'))
            if ($('.nav_box li:first a', $('#ContentFrame').contents()).attr('href') === adultHomeUrl) {
                $('.nav_box li:first a', $('#ContentFrame').contents()).attr('href', youndHomeUrl);
            }
        }
    </script>
</body>
</html>
