<div class="nav">
    <ul style="width: 1124px;">
        <li class="@((int)Model == 0 ? "active" : "")">
            <a href="@Url.Action("Home","Home")">首页</a>
        </li>
        <li class="@((int)Model == 1 ? "active" : "")">
            <a href="@Url.Action("Open", "Open")">免费课程</a>
        </li>
        <li class="@((int)Model == 2 ? "active" : "")">
            <a href="@Url.Action("Feature", "Feature")">课程特色</a>
        </li>
        <li class="@((int)Model == 3 ? "active" : "")">
            <a href="@Url.Action("Team", "Team")">外教团队</a>
        </li>
        <li class="@((int)Model == 4 ? "active" : "")">
            <a href="@Url.Action("Free", "Free")">免费答疑</a>
        </li>
        <li class="@((int)Model == 5 ? "active" : "")">
            <a href="@Url.Action("Flow", "Flow")">上课流程</a>
        </li>
        <li class="no-border @((int)Model == 6 ? "active" : "")">
            <a href="@Url.Action("Voice", "Voice")">学员心声</a>
        </li>
        <li class="no-border @((int)Model == 7 ? "active" : "")">
            <a id="hidTab" href="@Url.Action("Buy", "Purchase")"></a>
        </li>
    </ul>
</div>
